<{*
$Rev$
$URL$
*}>
<{if $xoops_isuser == true && $openids}>
<div style="text-align:right;">
<a href="<{$xoops_url}>/userinfo.php?uid=<{$xoops_userid}>"><{$smarty.const._MD_OPENID_VACNT}></a>
</div>
<form method="post" action="">
<input type="hidden" name="op" value="update" />
<table class="outer" cellpadding="4" cellspacing="1">
 <tr>
  <th colspan="2" style="text-align:center;">
   <{$xoops_uname}>'s OpenID
  </th>
 </tr>
<{foreach item=oid from=$openids}>
 <tr class="<{cycle values='odd,even'}>">
  <td>
<{if $oid.mode > 0}>
   <{$oid.displayid}>
<{else}>
   <del><{$oid.displayid}></del>
<{/if}>
  </td>
  <td>
   <select size="1" name="mode[<{$oid.id}>]">
<{foreach from=$options key=k item=v}>
    <option value="<{$k}>"<{if $oid.mode == $k}> selected="selected"<{/if}>><{$v}></option>
<{/foreach}>
   </select>
  </td>
 </tr>
<{/foreach}>
 <tr>
  <td colspan="2" class="foot">
  <input type="submit" value="<{$smarty.const._SUBMIT}>" />
  </td>
 </tr>
</table>
</form>
<p><{$smarty.const._MD_OPENID_LINK_MORE}></p>
<{else}>
<h1><{$smarty.const._GR_TITLE}></h1>
<{/if}>
<{include file=db:openid_login.html caller="openid_consumer"}>